html {
	background-color: #130904;
	/* background-image: linear-gradient(90deg, #170A08, black, #170A08); idk yet */
	color: #C154A3;
	font-family: Arial;
	text-align: center;
}

body {
	margin: 0px;
}

header {
	position: relative;
	background-color: #C154A3;
	color: #170A08;
	border: black solid;
	border-width: 0vmax 0.4vmax 0.4vmax 0.4vmax;
	width: 50%;
	padding: 10px;
	margin: auto auto 2vmax auto;
}

h1 {
	font-size: 4vmax;
	margin-top: 0px;
	margin-bottom: 0px;
}

.search {
	border: solid 1px black;
	font-size: 17px;
	padding: 5px;
	text-align: center;
}

button {
	background-color: #C154A3;
	color: black; 
	border: 2px solid black;
	padding: 10px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 17px;
	cursor: pointer;
}

h3 {
	font-size: 7vmax;
	margin: 1vmax auto auto auto;
}

a {
  color: hotpink;
}

img {
	max-width: 30px;
	margin-left: 0.1vmax;
	margin-top: 1.2vmax;
	margin-right: 0.2vmax;
}

.tournament {
	position: relative;
	border: 2px solid white;
	margin: 1vmax auto auto auto;
	padding: 1vmax 0px 1vmax 0px;
	width: 85%;
}

.details {
	border-bottom: 1px white solid;
	padding-bottom: 1vmax;
}

.details * {
	padding: 0.2vmax;
}

.tourney_name {
	font-size: calc(12px + 1.5vw);
	font-weight: bold;
}

.schedule {
	padding-bottom: 0px;
}

.number_matches {
	padding-top: 0px;
}

.match_content {
	position: relative;
	border-bottom: 1px solid;
	padding: 1vmax 0.5vmax 0.7vmax 0.5vmax;
}

.match_time {
	position: absolute;
	padding: 5px;
}

.number_players {
	position: absolute;
	right: 0;
	padding: 5px;
}

.match_name {
	font-size: calc(8px + 1.2vw);
	font-weight: bold;
}

@media screen and (max-width: 1400px) {
	.number_players, .match_time {
		display: none;
	}
}

#hide_stats {
	display: none;
}

#statistics {
	display: none;
	width: 100%;
	flex-direction: row;
	justify-content: center;
}

@media screen and (max-width: 500px) {
	button {
		display: none;
	}
}

#player_appearances, #flag_appearances {
	top: 1vmax;
	width: 20vmax;
	min-width: 200px;
	border: 3px white solid;
	font-weight: bold;
	margin: 0px 1vmax 2vmax 1vmax;
}

.row {
	padding: 0.4vmax;
}

.row img {
	margin-top: 0px;
}
