html {
	background-color: #170A08;
	color: #C154A3;
	font-family: Arial;
	text-align: center;
}

body {
	margin: 0px;
}

header {
	position: relative;
	background-color: #C154A3;
	color: #170A08;
	border: black solid;
	border-width: 0vmax 0.4vmax 0.4vmax 0.4vmax;
	width: 50%;
	padding: 10px;
	margin: auto auto 2vmax auto;
}

h1 {
	font-size: 4vmax;
	margin-top: 0px;
	margin-bottom: 0px;
}

.search {
	border: solid 1px black;
	font-size: 17px;
	padding: 5px;
	text-align: center;
}

#number_results {

}

h3 {
	font-size: 7vmax;
	margin: 1vmax auto auto auto;
}

a {
  color: hotpink;
}

img {
	max-width: 30px;
	margin-left: 0.1vmax;
	margin-right: 0.2vmax;
}

.tournament {
	position: relative;
	border: 2px solid white;
	margin: 1vmax auto auto auto;
	padding: 1vmax 0px 1vmax 0px;
	width: 85%;
}

.details {
	border-bottom: 1px white solid;
	padding-bottom: 1vmax;
}

.details * {
	padding: 0.2vmax;
}

.tourney_name {
	font-size: calc(12px + 1.5vw);
	font-weight: bold;
}

.match {
	position: relative;
	border-bottom: 1px solid;
	padding: 1vmax 0.5vmax 0.7vmax 0.5vmax;
}

.match_time {
	position: absolute;
	top: 41%;
	left: -4vmax;
	transform: rotate(-90deg);
}

.match_name {
	font-size: calc(8px + 1.2vw);
	font-weight: bold;
}

.number_players {
	position: absolute;
	top: 41%;
	right: -3.50vmax;
	transform: rotate(90deg);
}

@media screen and (max-width: 1200px) {
	.number_players, .match_time {
		display: none;
	}
}

.match_players {
	margin-top: 1.2vmax;
}

#statistics {
	position: relative;
}

@media screen and (max-width: 700px) {
	#statistics {
		display: none;
	}
}

#player_appearances, #flag_appearances {
	position: absolute;
	top: 1vmax;
	width: 20vmax;
	min-width: 200px;
	border: 3px white solid;
	font-weight: bold;
}

#player_appearances {
	left: 10vmax;
}

#flag_appearances {
	right: 10vmax;
}

.row {
	padding: 0.4vmax;
}
