html {
	background-color: #000000;
	color: #ffffff;
	text-align: center;
	font-family: "Rajdhani", sans-serif, Arial;
	font-weight: bold;
}

.playlist {
	margin-top: 30px;
	margin-bottom: 75px;
	margin-left: 40vh;
	margin-right: 40vh;
	border: 4px solid #d2738a;
	border-radius: 25px;
}

.playlist_name {
	font-size: 64px;
	font-weight: normal;
	margin: 20px;
}

@media screen and (max-width: 1200px) {
	.playlist {
		margin-left: 10px;
		margin-right: 10px;
	}
}

.beatmap {
	text-decoration: none;
}

.map_banner {
	width: 300px;
}

.map_mod_id {
	font-size: 32px;
}

.map_name {
	margin-bottom: 30px;
	margin-left: 10px;
	margin-right: 10px;
	padding-bottom: 10px;
	border-bottom: 4px solid #c1b492;
	text-decoration: underline;
}

.NM {
	color: #cfe2f3;
}

.HD {
	color: #fff2cc;
}

.HR {
	color: #f4cccc;
}

.DT {
	color: #d9d2e9;
}

.EZ {
	color: #d9ead3;
}

.TB {
	color: #dd7e6b;
}
